<ul class="m-0 p-0 list-none">
    <li class="inline"><a class="text-gray-700" href="@{CRUD.index()}">&{'crud.home'}</a></li>
    #{if _caller.type}
        <li class="inline">&gt; <a class="text-gray-700" href="@{list()}">&{_caller.type.name}</a></li>
    #{/if}
    #{if _caller.object?._key()}
        <li class="inline">&gt; <a class="text-gray-400 no-underline" href="@{show(_caller.object._key())}">${_caller.object?.toString()?.escape()?.raw()}</a></li>
    #{/if}
    #{if request.actionMethod == 'blank' || request.actionMethod == 'create'}
        <li class="inline">&gt; <a class="text-gray-400 no-underline" href="@{blank()}">&{'crud.blank'}</a></li>
    #{/if}
</ul>
