<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/play-tailwind.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    </head>
    <body class="bg-[#100B09] font-sans py-8 px-12 text-white">

        <h1 class="text-[#E2FE91] font-normal m-0 text-4xl">REPL</h1>
	%{if (action.contains("java")) {  %}
	<h2 class="text-[#D373C8] font-light mt-0 mb-5">-Java</h2>
        %{ } else{   }%
        <h2 class="text-[#D373C8] font-light mt-0 mb-5">-Scala</h2>
        %{ } }%

	#{navigation /}
	#{if (action.contains("java"))}
	<ul class="text-sm max-w-xl leading-7 pl-8">
	<li>Beanshell does not like generics</li>
	<li>JPA ehanced code is not visible, therefore<br/>
	use findAll(User.class) instead of User.findAll()<br/>
	find(User.class) instead of User.find() etc.</li>
	</ul>
	#{/if}
	<p class="text-sm max-w-xl leading-7">
	<form action="${action}" method="POST">
		  <textarea rows="20" cols="90" name="script">${script}</textarea>
		  <br>
		<input type="submit" value="Submit" />
	  </form>
        </p>

        <div class="my-8">
            #{list results}
                <div class="bg-[#F3FFC1] text-gray-900 text-sm p-1 mb-1 font-mono break-words ${_parity == 'even' ? 'bg-[#B1BA8E]' : ''}">
                    ${_}
                </div>
            #{/list}
        </div>

        #{if error}
            <div class="mb-8">
		<h3 class="text-red-700 font-light m-0 mb-2">Oops, ${error.message}</h3>
		%{if (script.split('\n').size()>=2) {
			if (action.contains("java")) {
				try { %}
					<div class="bg-pink-100 text-red-600 text-sm p-1 mb-1 font-mono break-words">${script.split('\n')[error.getErrorLineNumber()-2]}</div>
				%{ } catch (NullPointerException ex)  { %}
                			<div class="bg-pink-100 text-red-600 text-sm p-1 mb-1 font-mono break-words">${trace}</div>
				%{ } }%
				%{ } else{  try { }%
                			<div class="bg-pink-100 text-red-600 text-sm p-1 mb-1 font-mono break-words">${script.split('\n')[error.line-3]}</div>
				%{ } catch (Exception ex) { }%
					<div class="bg-pink-100 text-red-600 text-sm p-1 mb-1 font-mono break-words">${trace}</div>
				%{ } }%
			%{ } }%
		%{ } else{   }%
                	<div class="bg-pink-100 text-red-600 text-sm p-1 mb-1 font-mono break-words">${script}</div>
		%{ } }%
            </div>
        #{/if}


    </body>
</html>
